body {
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.page-wrapper   {
    background-color: #dfdfdf;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#table-container{
    width:600px;
    height:200px;
    overflow:scroll;
    display: block;
    border-radius: .25rem;
    border:1px solid blue;
}

.table-toolbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    /* background-color: #e7e7e7; */
    width:auto;
    height:auto;
    margin: 0 0 2px 0;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    color:#464749
}

[class^="table-toolbar-"]{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.table-toolbar span{
    background-color: #f1f1f1;
    border:1px solid #dbdbdb;
    padding: 4px 6px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.table-toolbar i{
    margin-right: 4px;
}


table {
    min-width:100px;
    height:inherit;
    background-color: white;
    border-collapse: collapse;
    font-size: 16px;
    border-radius: .3em;
    white-space: nowrap;
    
}

table th{
    font-weight: 500;
    font-size: .8em;
    color:#333;
    background-color: #e9e9e9;
    position: relative;
    overflow: hidden;
}

table td{
    font-weight: 400;
    font-size: .74em;
    color:#777;
    vertical-align: bottom;
    text-overflow: ellipsis;
}

table th, table td{
    text-align: left;
    padding: .5em .8em;
    border:1px solid #e9e9e9;
    cursor: default;
    border-top: 0px;
}


.frozen {
    position: absolute;
    text-align: inherit;
    padding:inherit;
    display: flex;
    
    align-items: center;
    white-space: space inherit;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:inherit;
    background-color: inherit;
    z-index: 5;

}

table tr th:not(:last-child):after,
table tr th:not(:last-child) .frozen:after{
    content:"";
    position: absolute;
    border-right: 1px solid #cfcfcf;
    right:-1px;
    top:20%;
    bottom:20%;
    z-index: 10
    /* box-shadow: 1px 1px rgba(0,0,0,.2); */
}

table th .holder{
    display:none;
    background-color: rgb(194, 194, 194);
    width:4px;
    /* height: 20px; */
    position: absolute;
    right:-2px;
    top:20%;
    bottom:20%;
    cursor:col-resize;
    z-index: 15;
}

table tr th:not(:last-child):hover .holder{
    display:block;
}

.column-highlight td:hover,
.click-highlight{
    background-color: rgba(241, 228, 172, 0.33);
    color: #2b2b2b;
}




input[type='checkbox']{ height: 20px; width: 20px; }

label.checkbox-container{
  position: relative;
  display: flex;
  align-items: center;
  border:1px solid green
  /* transition: color 250ms cubic-bezier(.4,.0,.23,1); */
}

.checkbox-container .checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: rgb(241, 14, 14);
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;  

  /* transition: all 250ms cubic-bezier(.4,.0,.23,1); */
}

input[type="checkbox"]:checked i.checkmark:after{
  content: "";
  z-index: 1000;
  display: block;
  left:50%;
  width:10px;
  height:10px;
  background-color: #212121
  
  /* animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards; */
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .2em;
    height: .5em;    
    border-color: #212121;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}

